/* #region Variables */
:root {
	--color-background: 0 0% 100%;
	--color-foreground: 240 10% 3.9%;
	--color-primary: 240 5.9% 10%;
	--color-primary-foreground: 0 0% 98%;
	--color-accent: 240 4.8% 95.9%;
	--color-accent-foreground: 240 5.9% 10%;
	--color-muted: 240 4.8% 95.9%;
	--color-muted-foreground: 240 3.8% 46.1%;
	--color-border: 240 5.9% 90%;
	--color-input: 240 5.9% 90%;
	--color-ring: 240 5.9% 10%;

	--font-family-body: system-ui;

	--font-size-2xs: .75rem;
	--font-size-xs: .8125rem;
	--font-size-sm: .875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: clamp(1.125rem, 1.0625rem + .25vw, 1.25rem);
	--font-size-2xl: clamp(1.25rem, 1.125rem + .5vw, 1.5rem);
	--font-size-3xl: clamp(1.5rem, 1.3125rem + .75vw, 1.875rem);
	--font-size-4xl: clamp(1.875rem, 1.6875rem + .75vw, 2.25rem);
	--font-size-5xl: clamp(1.875rem, 1.3125rem + 2.25vw, 3rem);

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;

	--line-height-sm: 1.25;
	--line-height-md: 1.5;

	--radius-xs: calc(var(--radius-md) - 4px);
	--radius-sm: calc(var(--radius-md) - 2px);
	--radius-md: .5rem;
	--radius-lg: calc(var(--radius-md) + 4px);

	--duration-short: .15s;
	--duration-regular: .4s;
	--duration-medium: .8s;
	--duration-slow: 1.5s;

	--wrapper-width: var(--wrapper-width-sm);
	--wrapper-width-xs: 400px;
	--wrapper-width-sm: 700px;
	--wrapper-side-gap: clamp(1.25rem, 5vw, 3.75rem);

	--spacing-sm: clamp(2.5rem, 1.875rem + 2.5vw, 3.75rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: 240 10% 3.9%;
		--color-foreground: 0 0% 98%;
		--color-primary: 0 0% 98%;
		--color-primary-foreground: 240 5.9% 10%;
		--color-accent: 240 3.7% 15.9%;
		--color-accent-foreground: 0 0% 98%;
		--color-muted: 240 3.7% 15.9%;
		--color-muted-foreground: 240 5% 64.9%;
		--color-border: 240 3.7% 15.9%;
		--color-input: 240 3.7% 15.9%;
		--color-ring: 240 4.9% 83.9%;
	}
}
/* #endregion Variables */


/* #region Normalize */
*,
::before,
::after {
	box-sizing: border-box;
	border: 0 solid;
}

@media print {
	*,
	::before,
	::after {
		border-color: hsl(0 0% 0%) !important;
		color: hsl(0 0% 0%) !important;
		background-color: transparent !important;
		box-shadow: none !important;
	}
}

* {
	margin: 0;
	padding: 0;
	border-color: hsl(var(--color-border));
	font: inherit;
}

:focus-visible {
	outline: none;
}

html {
	color-scheme: light dark;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100svh;
	color: hsl(var(--color-foreground));
	background-color: hsl(var(--color-background));
	font-family: var(--font-family-body);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-md);
	text-underline-offset: .25em;
	tab-size: 2;
	overflow-x: hidden;
	overflow-wrap: break-word;
	text-rendering: optimizeSpeed;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	print-color-adjust: exact;
	-webkit-print-color-adjust: exact;
	-webkit-tap-highlight-color: transparent;
}

@media (width <= 600px) {
	body {
		hyphens: auto;
		-webkit-hyphens: auto;
	}
}

svg,
input {
	display: block;
	width: 100%;
}

svg {
	fill: currentColor;
}

a,
button,
input,
::placeholder {
	color: inherit;
}

button,
input {
	background-color: transparent;
}

a {
	text-decoration: none;
}

button {
	text-align: left;
}

input[type="checkbox"] {
	appearance: none;
}

::placeholder,
:disabled {
	opacity: 1;
}

::placeholder {
	user-select: none;
	-webkit-user-select: none;
}
/* #endregion Normalize */


/* #region Utils */
.wrapper {
	--_width: var(--wrapper-width);
	width: min(var(--_width), 100% - var(--wrapper-side-gap) * 2);
	margin-inline: auto;
}

.wrapper[data-width="xs"] {
	--_width: var(--wrapper-width-xs);
}

.flow > * + * {
	margin-top: var(--_flow-space, .625em);
}

.margin-top-spacing-sm {
	margin-top: var(--spacing-sm);
}

.padding-block-spacing-sm {
	padding-block: var(--spacing-sm);
}

@media (width > 600px) {
	.from-mobile-text-center {
		text-align: center;
	}
}

.text-balance {
	text-wrap: balance;
}

.text-lg {
	font-size: var(--font-size-lg);
}

.heading-3 {
	font-size: var(--font-size-3xl);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-sm);
}
/* #endregion Utils */


/* #region Components */
.form {
	--_gap: 1.5rem;
	display: grid;
	gap: var(--_gap);
}

.form__columns {
	display: grid;
	gap: var(--_gap);
}

@media (width > 600px) {
	.form__columns {
		gap: 1.875rem;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

.form__column {
	display: grid;
	gap: .5rem;
}

.form__label {
	display: inline-flex;
	width: fit-content;
	max-width: 90%;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-sm);
	text-wrap: balance;
	overflow-wrap: anywhere;
}

.form__field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	padding: .5rem .75rem;
	border-width: 1px;
	border-color: hsl(var(--color-input));
	border-radius: var(--radius-sm);
	font-size: var(--font-size-sm);
}

.form__field:has(.form__field-control:focus-visible) {
	outline: 2px solid hsl(var(--color-ring));
	outline-offset: .125rem;
}

.form__field:has(.form__field-control:disabled) {
	opacity: .5;
	cursor: not-allowed;
}

.form__field:has(.form__field-control:disabled) * {
	pointer-events: none;
}

.form__field-control {
	text-overflow: ellipsis;
}

.form__field-control::placeholder {
	color: hsl(var(--color-muted-foreground));
}

.form__field-suffix {
	color: hsl(var(--color-muted-foreground));
	font-size: var(--font-size-2xs);
	font-weight: var(--font-weight-semi-bold);
	line-height: 1;
	cursor: default;
}

.form__field:has(.form__field-control:focus-visible) .form__field-suffix {
	color: inherit;
}

.form__field-description {
	width: 90%;
	color: hsl(var(--color-muted-foreground));
	font-size: var(--font-size-xs);
	text-wrap: balance;
}

.output-wrap {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	padding-inline: 1.25rem;
	border-width: 1px;
	border-color: hsl(var(--color-input));
	border-radius: var(--radius-md);
}

.output {
	display: flex;
	align-items: center;
	flex: 1;
	height: 3.75rem;
	font-family: monospace;
	font-size: var(--font-size-sm);
	overflow: auto;
}

.output__options {
	display: flex;
	gap: .25rem;
}

.output__option {
	position: relative;
	padding: .375rem;
	border-radius: var(--radius-sm);
	transition: var(--duration-short);
	transition-property: color, background-color;
}

.output__option:focus-visible {
	outline: 2px solid hsl(var(--color-ring));
}

.output__option:not(:disabled, :focus-visible):hover {
	background-color: hsl(var(--color-accent));
}

.output__option:disabled {
	background-color: hsl(var(--color-accent));
	opacity: .5;
}

.output__option svg {
	width: 1.375rem;
}

.output__option::after {
	content: attr(aria-label);
	position: absolute;
	width: max-content;
	max-width: 18.75rem;
	left: 50%;
	translate: -50% -220%;
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
	padding: .375rem .75rem;
	border-radius: var(--radius-sm);
	color: hsl(var(--color-accent-foreground));
	background-color: hsl(var(--color-accent));
	opacity: 0;
	scale: .5;
	z-index: 999;
	transition: var(--duration-short);
	transition-property: opacity, scale;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.output__option:not(:disabled):is(:hover, :focus-visible)::after {
	opacity: 1;
	scale: 1;
}

.output__option:not(:disabled):hover::after {
	transition-delay: var(--duration-medium);
}

.settings {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem 1.25rem;
	margin-top: 1rem;
}

.checkbox-wrap {
	display: flex;
}

.checkbox__field {
	width: unset;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: .625rem;
	font-size: var(--font-size-sm);
}

.checkbox__box {
	display: grid;
	place-items: center;
	width: 1rem;
	aspect-ratio: 1;
	flex-shrink: 0;
	border-width: 1px;
	border-color: hsl(var(--color-primary));
	border-radius: var(--radius-xs);
	user-select: none;
	-webkit-user-select: none;
}

.checkbox__box svg {
	opacity: 0;
}

.checkbox__field:checked + .checkbox .checkbox__box {
	border-color: hsl(var(--color-primary));
	background-color: hsl(var(--color-primary));
}

.checkbox__field:checked + .checkbox .checkbox__box svg {
	fill: hsl(var(--color-primary-foreground));
	opacity: 1;
}

.checkbox__field:disabled + .checkbox {
	opacity: .5;
}

.checkbox__field:focus-visible + .checkbox .checkbox__box {
	outline: 2px solid hsl(var(--color-ring));
	outline-offset: .25rem;
}
/* #endregion Components */
